#left_bar {
  float: left;
  margin: 8px 0px 0px 8px;
}

#bar_list {
  list-style: none none;
  padding: 0;
}

#bar_logo {
  width: 158px;
  margin-right:8px;
}

#search {
  width: 158px; 
}

body {
  margin: 0px;
  top: 0px;
  color: #e6e6e6;
}

#content {
  position: absolute;
  top: 0;
  border-left: 1px solid #3FB9BE;
  margin-left: 174px;
  width: calc(100vw - 191px);
  min-height: calc(100vh - 16px);
  padding: 8px;
}

.bar_item:visited {
  color: rgb(76.5, 132.72, 187.5);
}

body {
  background-color: #093340;
  line-height: 1.6;
}

#background-img {
  position: absolute;
  z-index: -1;
  width: calc(100vw - 174px);
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  height: 100px;
  object-fit: cover;
}

#edit_button {
  color: #FFF;
  text-decoration: underline;
}

hr {
  background-color: #40606a;
  height: 1px;
  border: none;
}

.left_img {
  float:left;
  margin-right: 10px;
  margin-top: 8px;
}

.right_img {
  float:right;
  margin-left: 10px;
  margin-top: 8px;
}

.search-results {
  max-width: 158px;
  margin-top: 1rem;
}

.search-results__item {
  margin-bottom: 1rem;
}

.search-results li {
  border-bottom: 1px solid #40606a;
}

.search-results__items {
  list-style: none;
}

a {
  color: rgb(102, 177, 250);
  text-decoration-color: initial;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(126, 114, 255);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.skin {
  max-height: 250px;
}

.card {
  height: 243px;
  margin-top: 0px;
}

@font-face {
    font-family: troika;
    src: url("/troika.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Linux Libertine','Georgia','Times',serif;
}

body {
    font-family: sans-serif;
}

#summary {
    float: right;
    border-color: #40606a;
    padding: 0.2rem;
    border-width: 1px;
    border-style: solid;
    max-width: calc(100% - 16px);
    text-align: center;
    margin-left: 8px;
}

#summary table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

tbody {
    vertical-align: top;
}

.skill_blank {
    background-color: #2f4653;
    max-width: calc(100vw - 283px);
    width: 400px;
    height: 20px;
    margin-left: 8px;
}

.skill_offence {
    height: 100%;
    background-color: #af4948;
}

.skill_defense {
    height: 100%;
    background-color: #8f65bf;
}

.skill_mobility {
    height: 100%;
    background-color: #378dab;
}

.skill_utility {
    height: 100%;
    background-color: #c8b653;
}

.upgrades table {
    text-align: center;
    width: 100%;
    table-layout: fixed;
} 

.upgrades {
    border: 1px solid #40606a;
    max-width: 800px;
}

.upgrades_flex {
    width: 100%;
    border-bottom: 1px solid #40606a;
    display: flex;
    flex-direction: row;
}

.upgrades_flex table:nth-child(1) {
    border-right: 1px solid #40606a;
}

.upgrades_flex table:nth-child(2) {
    border-left: 1px solid #40606a;
    margin-left: -1px;
}

.toc {
    border: 1px solid #40606a;
    display: table;
    padding: 8px;
}

.toc h2 {
    text-align: center;
}
